*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color1: #F7B180;
    --primary-color2: #18471B;
    --secondary-color1: #FFFFFF;
    --secondary-color2: #000000;
}

header{
    display: flex;
    background-color: blue;
    align-items: center;
    justify-content: space-around;
}

.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

header img{
    width: 30px;
}

.banner{
    background-image: url(assets/hero.jpg);
}

.awards-container{
    display: flex;
}